extends layout

block content
	.jumbotron
		.container
			form(class="auth_form", method="post")
				input(type="text", placeholder="Login", required, name="username")
				input(type="password" placeholder="Password", required, name="pass")
				button(type="submit") Send