extend layout

block content
	.well
		h1 Seaman bondarenko
		p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore deleniti iure, optio quasi iste reiciendis officiis nesciunt suscipit ipsa! Dolores saepe reprehenderit quod quidem non odio totam, rem, expedita mollitia?
