extends layout

block content
	if jumbotron
		.jumbotron
			h1= title
			p Welcome to my blog!
		.content
			.rows
				.col-md-10.col-md-offset-1
					.well
						.page-header 
							h2 Lorem ipsum.
						p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							|Architecto delectus consectetur libero, officia hic ipsa 
							|ab velit deserunt, sunt laboriosam inventore pariatur reiciendis 
							|facilis vel sint aliquid consequuntur. Similique, eos.
					.well
						.page-header 
							h2 Lorem ipsum.
						p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							|Architecto delectus consectetur libero, officia hic ipsa 
							|ab velit deserunt, sunt laboriosam inventore pariatur reiciendis 
							|facilis vel sint aliquid consequuntur. Similique, eos.