extends layout

block content
	.container
		each post in postList
			.post_prev
				h2
					a(href= post.href) #{post.title}
				p.lead #{post.description}
				ul.tags
					|Тэги: 
					each tag in post.tags
						li #{tag}
				.post_date
					span Добавлено #{moment(post.date).locale('ru').fromNow()}