extends layout

block content
	.container
		each post in postList
			.post_prev
				h2
					a(href= post.href) #{post.title}
				p.lead #{post.description}
				each tag in post.tags
					span.tag #{tag}
				span.label.label-default 
					|#{moment(post.date).locale('ru').fromNow()}