doctype html5
html
	head 
		if post
			title #{title} | #{post.header}
		title #{title}
		link(rel='stylesheet', href='http://bootswatch.com/darkly/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/index.js')
	body
		.container
			nav.navbar.navbar-inverse
				.navbar-header
						button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse")
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/') Seaman Blog
				.navbar-collapse.collapse.navbar-inverse-collapse
					ul.nav.navbar-nav
						if navLinks
							each page in navLinks
								li
									a(href = page.url) #{page.name}
			if jumbotron
				.jumbotron
					h1 Seaman Blog
					p Welcome to my blog!
			.content
				.rows
					.col-md-10.col-md-offset-1
						block content