doctype html5
html
	head 
		if post
			title #{title} | #{post.header}
		title #{title}
		//- link(rel='stylesheet', href='http://bootswatch.com/darkly/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/index.js')
	body
		nav
			.container
				.navbar-header
					h1
						a(href='/') Seaman Blog
				.navbar-body
					ul
						if navLinks
							each page in navLinks
								li
									a(href = page.url) #{page.name}
	if jumbotron
		.jumbotron
			.container
				h1 Seaman Blog
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum fugit officia ratione distinctio numquam minima aspernatur, quaerat! Odio, voluptate, et!
	.content
		.rows
			.col-md-10.col-md-offset-1
				block content