extends layout

block content
	each item in projects
		.well
			h1 
				a(href=item.href)=item.name
			p.lead #{item.description}
			h4
				span.label.label-default Добавлено #{moment(item.date).locale('ru').fromNow()}
