extends layout

block content
	.container
		each item in projects
			.portfolio_item
				h2
					a(href=item.href)=item.name
				p #{item.description}
				.post_date
					span Добавлено #{moment(item.date).locale('ru').fromNow()}
