@import "compass/css3";
@import "compass/reset";
@import "compass/utilities";
@import "susy";

$NAV_CONTAINER: (
	columns: 12,
	gutters: .25,
	debug: (
		image: hide,
		color: rgba(#66f, .25),
		output: background,
		toggle: top right,
	),
	);


// 
// Globals
// 
$NAV_HEIGHT: 50px;
$NAV_ITEM_PADDING: 0.8em;

$BODY_CONTAINER: 70%;

$HOVER_BLUE: #4183c4;

body {
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6, 
	a, 
	ul,
	p,
	span {
		font-family: 'Helvetica';
	}
	a{
		color: #3A3A3A;
		text-decoration: none;
	}

	// *******
	// * Navbar
	// ********

	nav {
		width: 100%;
		height: $NAV_HEIGHT;
		padding: none;
		background-color: #f5f5f5;
		color: #ffffff;
		border-bottom: 1px solid #e5e5e5;
		.container{
			@include container($NAV_CONTAINER);
		}
		.navbar-header {
			@include span(6 of 12);
			box-sizing: border-box;
			height: $NAV_HEIGHT;
			margin: 0;
			padding: $NAV_HEIGHT / 2;
			h1{
				font-size: 24px;
				font-weight: bold;
				line-height: 0;
				a{
				}
			}
		}
		.navbar-body{
			@include span(6 of 12);
			height: $NAV_HEIGHT;
			text-align: right;
			a{
				font-size: 13px;
				font-weight: bold;
				display: block;
				box-sizing: border-box;
				height: $NAV_HEIGHT;
				padding: ($NAV_HEIGHT - 13px) / 2 $NAV_ITEM_PADDING;
			}
			ul{
				list-style-type: none;
				li{
					display: inline-block;
				}
			}
		}
	}

	// ***************
	// Jumbotron
	// ***************


	.jumbotron{
		.container{
			@include container($BODY_CONTAINER);
		}
		color: white;
		width: 100%;
		background-color: #333;
		box-sizing: border-box;
		padding-top: 2%;
		padding-bottom: 2%;
		background: repeat url(/images/stardust.png);
		h1{
			font-size: 42px;
			font-weight: bold;
		}
		p{
			margin-top: 15px;
			font-size: 20px;
			line-height: 130%;
		}
		.social_icons{
			margin-top: 20px;
			li{
				display: inline-block;
				margin-right: 25px;
			}
		}
	}
	
	// ***************
	// Postlist and portfolioList
	// ***************

	.content{
		.container{
			@include container($BODY_CONTAINER);
		}
		margin-top: 20px;
		h1{
			font-size: 48px;
			font-weight: bold;
			margin: 10px 0;
		}
		h2{
			font-size: 33px;
			font-weight: bold;
			margin: 10px 0;
			a:hover{
				color: $HOVER_BLUE;
			}
		}
		p{
			font-size: 22px;
			line-height: 130%;
		}
		.post_date {
			width: 100%;
			font-size: 12px;
			color: #bbb;
			padding-bottom: 10px;
			margin-top: 10px;
		}
		.post_prev{
			margin-bottom: 10px;
			border-bottom: 1px solid #e5e5e5;
			.tags{
				margin: 10px 0;
				font-style: italic;
				color: #757575;
				li{
					display: inline-block;
					margin-right: 8px;
					font-size: 13px;
				}
			}
		}
	}

	// ***************
	// MD content
	// ***************
	.mdContent{
		h1 {font-size: 34px;}
		h2 {font-size: 30px;}
		h3 {font-size: 27px;}
		h4 {font-size: 25px;}
		h5 {font-size: 23px;}
		h6 {font-size: 20px;}
		p{
			font-size: 19px
		}
		em{
			font-style: italic;
		}
		strong{
			font-weight: bold;
		}
		code{
			font-family: Consolas, Courier New, monospace;
			padding: 20px;
			display: block;
			margin: 20px 0;
			box-sizing: border-box;
			background-color: #f5f5f5;
			border-radius: 20px;
		}
	}
	.paginate{
		text-align: center;
		li{
			display: inline-block;
		}
		a{
			display: block;
			padding: 18px;
			cursor: pointer;
			border: 1px solid #e5e5e5;
			margin-left: 7px;
			margin-top: 15px;
			border-radius: 7px;
		}
		a:hover{
			color: $HOVER_BLUE;
		}
		.paginate-disabled{
			cursor: default;
			background-color: #9E9E9E;
			pointer-events: none;
			color: white;
		}
	}

	// 
	// Auth form
	// 
	form.auth_form{
		@include span(6 at 3 of 12);
		input{

		}
	}
}
