@import "compass/css3";
@import "compass/reset";
@import "compass/utilities";
@import "susy";

// 
// Globals
// 
$NAV_CONTAINER: 100%;
$NAV_HEIGHT: 50px;


$BODY_CONTAINER: 70%;


body {
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6, 
	a, 
	ul,
	p,
	span {
		font-family: 'Helvetica';
	}

	a{
		color: #3A3A3A;
		text-decoration: none;
	}

	// *******
	// * Navbar
	// ********

	nav {
		width: 100%;
		height: $NAV_HEIGHT;
		padding: none;
		background-color: #f5f5f5;
		color: #ffffff;
		border-bottom: 1px solid #e5e5e5;
		.container{
			@include container($NAV_CONTAINER);
		}
		.navbar-header {
			@include span(6 of 12);
			box-sizing: border-box;
			height: $NAV_HEIGHT;
			margin: 0;
			padding: $NAV_HEIGHT / 2;
			h1{
				font-size: 24px;
				font-weight: bold;
				line-height: 0;
				a{
				}
			}
		}
		.navbar-body{
			@include span(6 of 12);
			height: $NAV_HEIGHT;
			text-align: right;
			a{
				font-size: 13px;
				font-weight: bold;
				display: block;
				box-sizing: border-box;
				height: $NAV_HEIGHT;
				padding: ($NAV_HEIGHT - 13px) / 2 5px;
			}
			ul{
				list-style-type: none;
				li{
					display: inline-block;
				}
			}
		}
	}

	// ***************
	// Jumbotron
	// ***************


	.jumbotron{
		.container{
			@include container($BODY_CONTAINER);
		}
		color: white;
		width: 100%;
		background-color: #333;
		box-sizing: border-box;
		padding-top: 5%;
		padding-bottom: 5%;
		background: repeat url(/images/stardust.png);
		h1{
			font-size: 42px;
			font-weight: bold;
		}
		p{
			margin-top: 15px;
			font-size: 20px;
			line-height: 130%;
		}
	}
	
	// ***************
	// Postlist
	// ***************

	.content{
		.container{
			@include container($BODY_CONTAINER);
		}
		margin-top: 20px;
		.post_prev{
			margin-bottom: 10px;
			border-bottom: 1px solid #e5e5e5;
			h2{
				font-size: 33px;
				font-weight: bold;
				margin: 10px 0;
				a:hover{
					color: #4183c4;
				}
			}
			p{
				font-size: 20px;
				line-height: 130%;
			}
			.tags{
				margin: 10px 0;
				font-style: italic;
				color: #757575;
				li{
					display: inline-block;
					margin-right: 8px;
					font-size: 13px;
				}
			}
			.post_date{
				width: 100%;
				font-size: 12px;
				color: #bbb;
				padding-bottom: 10px;
			}
		}
	}
}
